- name: Register Prsim Element to Prism Central
  uri:
    url: "https://{{ansible_default_ipv4.address}}:9440/PrismGateway/services/rest/v1/multicluster/add_to_multicluster"
    method: POST
    validate_certs: no
    user: "admin"
    password: "{{pwd}}"
    body_format: json
    body: 
      ipAddresses: "{{pc_ip}}"
      username: admin
      password: "{{pwd}}"
    force_basic_auth: yes
    status_code: 200
  register: output
- debug:
    msg: "deploy task is {{output.json.task_uuid}}"
- set_fact:
    task_uuid: "{{output.json.task_uuid}}"
- set_fact:
    monitor_ip: "{{ansible_default_ipv4.address}}"
- set_fact:
    monitor_pwd: "{{pwd}}"
