- name: Deploying Prism Central to Cluster
  uri:
    url: "https://{{ansible_default_ipv4.address}}:9440/api/nutanix/v3/prism_central"
    method: POST
    validate_certs: no
    user: "admin"
    password: "{{pwd}}"
    body_format: json
    body: "{{request}}" 
    force_basic_auth: yes
    status_code: 202
    return_content: yes
  register: output
- debug:
    msg: "Deploy task is {{output.json.task_uuid}}"
- set_fact:
    task_uuid: "{{output.json.task_uuid}}"
- set_fact:
    monitor_ip: "{{ansible_default_ipv4.address}}"
- set_fact:
    monitor_pwd: "{{pwd}}"
