name: groups
description: Group/Department Shares
fileServerUuid: {{afs_uuid}}
enableAccessBasedEnumeration: true
enablePreviousVersion: false
windowsAdDomainName: {{afs_domain}}
maxSizeGiB: 0
protocolType: SMB
shareType: GENERAL
fileBlockingExtensions: 
- .avi
- .mp3
