windowsAdDomainName: {{afs_domain}}
windowsAdUsername: {{afs_admin}}
windowsAdPassword: {{afs_admin_pwd}}
overwriteUserAccount: true
addUserAsFsAdmin: false
addUserAsFsAdmin: true
protocolType: SMB
useSameCredentialsForDns: true

