fileServerUuid: {{afs_uuid}}
windowsAdDomainName: {{afs_domain}}
maxSizeGiB: 0
name: public
description: Public 
enableAccessBasedEnumeration: false
enablePreviousVersion: false
windowsAdDomainName: {{afs_domain}}
maxSizeGiB: 0
protocolType: SMB
shareType: GENERAL
defaultQuotaLimitGiB: 2
quotaEnforcementType: hard
