---
resources:
   version: {{pc_version}}
   should_auto_register: true 
   pc_vm_list:
   - vm_name: PrismCentral
     container_uuid:  {{ctr_uuid}} 
     num_sockets: 8
     data_disk_size_bytes: 2684354560000
     memory_size_bytes: 34359738368
     dns_server_ip_list: 
     - 10.63.25.40
     nic_list:
     - ip_list:
       - {{pc}}
       network_configuration:
         network_uuid: {{subnet_uuid}}
         subnet_mask: {{ansible_default_ipv4.netmask}}
         default_gateway: {{ansible_default_ipv4.gateway}}

