name: {{afs_name}}
dnsDomainName: {{afs_domain}}
sizeGib: "1024"
internalNetwork:
  subnetMask: {{ansible_default_ipv4.netmask}}
  defaultGateway: {{ansible_default_ipv4.gateway}}
  uuid: {{internal_subnet_uuid}}
  pool: 
  - {{internal_pool}}
externalNetworks:
- subnetMask: "255.255.254.0"
  defaultGateway: "10.63.36.1"
  uuid: {{subnet_uuid}}
  pool: 
   - {{external_pool}}
dnsServerIpAddresses: 
- {{afs_dns}}
ntpServers: 
- {{afs_ntp}} 
windowsAdDomainName: {{afs_domain}}
windowsAdUsername: {{afs_admin}}
windowsAdPassword: {{afs_admin_pwd}} 
