   
   name: {{afs_name}}
   dnsDomainName: {{afs_domain}}
   sizeGib: "1024"
   internalNetwork:
       subnetMask: "255.255.254.0"
       defaultGateway: "10.63.36.1"
       uuid: {{subnet_uuid}}
       pool: 
       - "10.63.36.249 10.63.36.252"
   externalNetworks:
       subnetMask: "255.255.254.0"
       defaultGateway: "10.63.36.1"
       uuid: {{subnet_uuid}}
       pool: 
       - "10.63.36.253 10.63.36.255"
   dnsServerIpAddresses: 
       - {{afs_dns}}
   ntpServers: 
       - {{afs_ntp}} 
   windowsAdDomainName: {{afs_domain}}
   windowsAdUsername: {{afs_admin}}
   windowsAdPassword: {{afs_admin_pwd}} 
