- name: Complete Prism Central Configiratiokn
  hosts: sw_pc_setup 
  become: no
  gather_facts: yes 
  vars:
  roles:
  tasks:
    - name: Post EULA
      uri:
       url: https://{{ansible_default_ipv4.address}}:9440/api/nutanix/v1/eulas/accept
       method: POST
       body_format: json
       body: "{{lookup('file','eula.json')}}"
       user: admin
       password: "{{pwd}}"
       force_basic_auth: yes
       return_content: yes
       validate_certs: no
    - name: Disable Pulse
      uri:
       url: https://{{ansible_default_ipv4.address}}:9440/PrismGateway/services/rest/v1/pulse
       method: PUT
       body_format: json
       body: "{{lookup('file','pulse.json')}}"
       user: admin
       password: "{{pwd}}"
       force_basic_auth: yes
       return_content: yes
       validate_certs: no
