- name: End User Aggreement
  hosts: f-zero
  become: no
  gather_facts: yes
  vars:
  roles:
  tasks:
    - name: Get Eula
      uri:
       url: https://{{ansible_default_ipv4.address}}:9440/api/nutanix/v1/eulas/accept
       method: POST
       body_format: json
       body: "{{lookup('file','eula.json')}}"
       user: admin
       password: "{{pwd}}"
       force_basic_auth: yes
       return_content: yes
       validate_certs: no
